.body {
  background-color: black;
}

.App {
  text-align: center;
  background-color: #2b3e50;
}

.apacheLogo {
  height: 60px;
}

.reactLogo {
  animation: App-logo-spin infinite 30s linear;
  height: 40px;
}

.githubLogo {
  height: 36px;
}

.linkedinLogo {
  height: 28px;
}

.nodeLogo {
  height: 128px;
}

.App-header {
  background-color: black;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-header h1 {
  font-weight: 300;
  font-size: 39px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-footer {
  background-color: black;
  color: white;
  padding-top: 1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.projects__header {
  float: left;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: white;
}

.project__title, .menu__link, .menu__breadcrumb {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: orangered;
}

.menu__breadcrumb {
  float: left;
}

.menu__link {
  float: right;
}

.row>.project {
  background-color: #4e5d6c;
  overflow: auto;
  display: block;
}

div>.row {
  overflow: auto;
  display: block;
}

#headerRow {
  margin-left: auto;
  margin-right: auto;
}

div>.container {
  max-width: unset;
}

.project a {
  color: orangered;
}

.project p {
  color: white;
}

.spaceRow {
  margin-bottom: 1em;
  background-color: #2b3e50;
}
